<%- include ('../partials/header')%>
<%- include ('../partials/nav')%>
<div class="row">
    <div class="col m3">
        <%- include ('../partials/sideNav')%>
    </div>
    <div class="col m9">
        <table>
            <thead>
              <tr>
                  <th>S/N</th>
                  <th>Voltage(V)</th>
                  <th>Current(I)</th>
                  <th>Brightness(%)</th>
                  <th>Location</th>
                  <th>Last Updates</th>
                  <th>Status</th>
                  <th>light</th>
                  <th>#</th>
              </tr>
            </thead>
        
            <tbody>
              <% devices.forEach(function(device){ %>
                <tr>
                  <td><%= device.SN %></td>
                  <td><%= device.voltage %></td>
                  <td><%= device.current %></td>
                  <td><%= device.location %></td>
                  <td>20 minutes</td>
                  <td>online</td>
                  <td>Normal</td>
                  <td><a class="btn waves-effect waves-light teal view modal-trigger" data-target="modal1" onclick="view(event)">View</a>
                      <a class="btn waves-effect waves-light blue update modal-trigger" data-target="modal2" onclick="update(event)">update</a>
                     <a class="btn waves-effect waves-light red delete modal-trigger" data-target="modal3" onclick="deleteDevice(event)">Delete</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
                   <!-- view modal -->
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <h4>Lamp Details</h4>
                        <div id="lampDettails">
                          <p id="SN"></p>
                          <p id='phone'>Phone: </p>
                          <p id='voltage'>Voltage: </p>
                          <p id="current">Current: </p>
                          <p id="brightness">Brightness: </p>
                          <p id="location">Location</p>
                          <p id="road">Road:</p>
                          <p id="lamp">Lambp Number:</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect red waves-green btn-flat">Close</a>
                      </div>
                    </div>
                    <!-- update Modal -->
                    <div id="modal2" class="modal">
                      <div class="modal-content">
                        <h4>Update Details</h4>
                        <form class="col s12 center-align" method="post" id="updateForm" action="/admin/update-device">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <div class="row">
                            <div class="input-field col s6">
                              <input  id="SNu" placeholder="S/N" name="SN" type="text" class="validate">
                            </div>
                            <div class="input-field col s6">
                              <input id="phoneu" placeholder="Phone Number" name="phone" type="text" class="validate">
                            </div>
                          </div>
                         <div class="row">
                           <div class="input-field col s12">
                             <input id="locationu" placeholder="Location" name="location" type="text" class="validate">
                           </div>
                         </div>
                         <div class="row">
                           <div class="input-field col s6">
                             <input  id="roadu" placeholder="Road" name="road" type="text" class="validate">
                           </div>
                           <div class="input-field col s6">
                             <input id="lamp_numberu" part="Lamp Number" name="lamp_number" type="text" class="validate">
                           </div>
                         </div>
                          <div class="row right-align">
                           <button type="button" class="btn waves-effect waves-light red modal-close">Cancel</button>
                           <button type="submit" class="btn waves-effect waves-light teal modal-close">Update</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- Delete popup -->
                    <div id="modal3" class="modal">
                      <div class="modal-content">
                        <h4>Are you sure you want to delete this Lamp?</h4>
                      </div>
                      <div class="modal-footer">
                        <form action="/admin/delete-device" method="post" id="deleteForm">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button type="button" class="modal-close waves-effect teal waves-green btn-flat">Cancel</button>
                          <button type="submit" class="modal-close waves-effect red waves-green btn-flat">Yes</button>
                        </form>
                      </div>
                    </div>


    </div>
</div>


<script>
  var devices = <%- JSON.stringify(devices) %>;
</script>
<%- include('../partials/footer') %>